@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: white;
}

.container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container .text-input-container {
  width: 100%;
  display: flex;
  padding: 0.5rem;
  background-color: #eaeaea;
  border-radius: 0.5rem;
}

.container .text-input-container input {
  width: 100%;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.container .text-input-container button {
  padding: 0.5rem 2rem;
  background-color: white;
  border: 1px solid aliceblue;
  border-radius: 0.5rem;
  cursor: pointer;
}

.container .product-card-container {
  width: 100%;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .product-card-container .product-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
