@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: url(../public/assets/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "SF Pro Display", sans-serif;
}

.header {
  position: relative;
  background-color: #8f8f8f;
  mix-blend-mode: color-burn;
  opacity: 20%;
  height: 28px;
}

.nav-container {
  width: 100%;
  padding: 0 10px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  .nav-left {
    max-width: 395px;
    z-index: 100;
    display: flex;
    align-items: center;
    .link {
      text-decoration: none;
      color: black;
      font-weight: 500;
      font-size: 14px;
      margin: 0 0.5rem;
      #apple {
        padding-top: 4px;
      }
    }
  }
  .nav-right {
    max-width: 395px;
    z-index: 100;
    display: flex;
    align-items: center;
    img {
      text-decoration: none;
      color: black;
      margin: 0 0.3rem;
      cursor: pointer;
    }
    .date-left {
      margin: 0 0.3rem;
      display: flex;
      gap: 0.2rem;
      span {
        font-weight: 500;
        font-size: 14px;
        padding-bottom: 4px;
        cursor: pointer;
      }
    }
    .date-right {
      margin: 0 0.3rem;
      padding-bottom: 6px;
      span {
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}

.home-container {
  .folder-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
    padding: 0 14px;
    position: relative;
    div {
      margin-left: auto;
      margin-right: 1rem;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      img {
        width: 70px;
      }
    }
  }
  .dock {
    width: 100%;
    display: flex;
    justify-content: center;
    .contact-file-container {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 95%;
      height: 80%;
      background-color: rgba($color: #ffffff, $alpha: 0.9);
      z-index: 10;
      top: 7%;
      border-radius: 12px;
      overflow: hidden;
      border: 1px solid rgba($color: #ffffff, $alpha: 1);
      header {
        display: flex;
        align-items: center;
        width: 100%;
        height: fit-content;
        padding: 4px 5px;
        background-color: white;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        span {
          width: 91%;
          text-align: center;
        }
        .action {
          display: flex;
          align-items: center;
          gap: 4px;
          .button-one {
            min-width: 12px;
            min-height: 12px;
            background-color: #ff5e57;
            outline: none;
            border: none;
            border-radius: 100%;
            cursor: pointer;
          }
          .button-two {
            min-width: 12px;
            min-height: 12px;
            background-color: #ffbb2e;
            outline: none;
            border: none;
            border-radius: 100%;
            cursor: pointer;
          }
          .button-three {
            min-width: 12px;
            min-height: 12px;
            background-color: #38c149;
            outline: none;
            border: none;
            border-radius: 100%;
            cursor: pointer;
          }
        }
      }
      .card {
        max-width: fit-content;
        margin: 4rem auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .profile {
          width: 100px;
          height: 100px;
          border-radius: 100%;
          margin: 0 auto;
        }
        h2 {
          margin-top: 24px;
        }
        span {
          margin-top: 6px;
          text-align: center;
        }
        .socials {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          img {
            margin-top: 40px;
            width: 20px;
            height: auto;
            transition: all 0.4s;
            &:hover {
              cursor: pointer;
              transform: translateY(-8%);
            }
          }
        }
      }
      .card-project {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        max-width: 900px;
        margin: 2rem auto;
        gap: 1rem;
        overflow-y: scroll;
        padding: 0 1rem;
        .card-project-item {
          width: 400px;
          display: flex;
          flex-direction: column;
          img {
            width: 100%;
          }
          div {
            display: flex;
            gap: 1rem;
            margin-top: 0.4rem;
            justify-content: space-between;
            align-items: center;
            p {
              font-weight: 500;
            }
            div {
              a {
                width: fit-content;
                img {
                  width: 1.2rem;
                }
              }
            }
          }
        }
      }
      .card-project::-webkit-scrollbar {
        display: none;
      }
    }
    .dock-container {
      border: 1px solid rgba($color: #ffffff, $alpha: 0.2);
      border-bottom: none;
      min-width: 270px;
      height: 75px;
      background-color: rgba($color: #ffffff, $alpha: 0.3);
      position: absolute;
      bottom: 0;
      border-radius: 8px 8px 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.5rem;
      .dock-icon {
        height: 60px;
        transition: all 0.4s;
        &:hover {
          cursor: pointer;
          transform: translateY(-10px);
          opacity: 90%;
        }
      }
      .dock-icon-separator {
        height: 60px;
      }
    }
  }
}
